#root {
  padding: 60px 20px;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
}

.card {
  margin: 0 auto;
  background-color: hsl(216, 50%, 16%);
  padding: 25px;
  border-radius: 15px;
}

.equi-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}

.heading-1{
  font-size: 1.4em;
  text-align: left;
  color: hsl(0, 0%, 100%);
}

.text{
  font-size: 1em;
  line-height: 1.7em;
  text-align: left;
  margin-bottom: 0;
}

.price, .time {
  display: flex;
  align-items: center;
  gap: 6px;
}

.price-text {
  font-size: 1em;
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}

.time-text {
  font-size: 1em;
}

.price-and-time {
  display: flex;
  justify-content: space-between;
}

.line {
  border-color: hsl(215, 32%, 27%);
  margin: 0 0 12px;
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar-image {
  width: 2em;
  border: 1px solid #fff;
  border-radius: 50%;
}

.footer-text{
  font-size: 1em;
  font-weight: 300;
}

.footer-text span {
  color:hsl(0, 0%, 100%);
}




