#root {
  padding: 60px 20px;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
}

.card {
  margin: 0 auto;
  background-color: hsl(216, 50%, 16%);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 1em 2em 1em -1em hsl(215, 70%, 5%); 
}

@media (min-width: 500px){
  .card {
    max-width: 365px;
  }
}

.equi-img {
  width: 100%;
  height: 300px;
  border-radius: 30px;
  margin-bottom: 1.5em;
  background-Image: url('./assets/image-equilibrium.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
@media (min-width: 700px){
  .equi-img{
  margin-bottom: 1.7em;
  }
}

.hover-img {
  padding: 0;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  content: '';
}

.hover-img:hover {
  background-color: hsla(178, 100%, 50%, 0.4);
  background-image: url('./assets/icon-view.svg');
  background-repeat: no-repeat;
  background-position: center;
}  

.heading-1{
  font-size: 1.4em;
  text-align: left;
  color: hsl(0, 0%, 100%);
}
@media (min-width: 700px){
  .heading-1{
  font-size: 1.5em;
  }
}

.heading-1:hover {
  color:hsl(178, 100%, 50%);
}

.text{
  font-size: 1em;
  line-height: 1.7em;
  text-align: left;
  margin-bottom: 0;
}
@media (min-width: 700px){
  .text{
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: .3em;
  }
}

.price, .time {
  display: flex;
  align-items: center;
  gap: 6px;
}

.price-text {
  font-size: 1em;
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}
@media (min-width: 700px){
  .price-text{
  font-size: 1.1em;
  }
}

.time-text {
  font-size: 1em;
}
@media (min-width: 700px){
  .time-text{
  font-size: 1.1em;
  }
}


.price-and-time {
  display: flex;
  justify-content: space-between;
}

.line {
  border-color: hsl(215, 32%, 27%);
  margin: 0 0 .8em;
}
@media (min-width: 700px){
  .line{
  margin: .4em 0 .8em ;
  }
}


.footer-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar-image {
  width: 2em;
  border: 1px solid #fff;
  border-radius: 50%;
}
@media (min-width: 700px){
  .avatar-image{
  width: 2.2em;
  }
}

.footer-text{
  font-size: 1em;
  font-weight: 300;
}
@media (min-width: 700px){
  .footer-text{
  font-size: 1.1em;
  }
}

.footer-text span {
  color:hsl(0, 0%, 100%);
}

.footer-text span:hover {
  color:hsl(178, 100%, 50%);
}



